<app-navigation-menu></app-navigation-menu>
<section class="breadcrumb_area blog_banner_two">
   <div class="overlay bg-parallax" style="background: url('/assets/image/schools/stannes_jodh.jpg')" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
   <div class="container">
      <div class="page-cover text-center">
         <h2 class="page-cover-tittle f_48"> {{school}}</h2>
         <ol class="breadcrumb">
            <li><a href="index.html"></a>{{myJson.school_cityarea}}</li>
            <li><a href="blog.html">{{myJson.school_city}}</a></li>
            <li class="active">{{myJson.school_state}}</li>
         </ol>
      </div>
   </div>
</section>
<div class="container">
   <div class="row">
      <!-- Here begin Main Content -->
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-12">
               <div class="event-container clearfix">
                  <div class="left-event-content">
                     <div id="side-nav" class="span side-nav">
                        <div class="block-slacker">
                           <ul class="side-nav-group has-children">
                              <li class="side-nav-item">
                                 <a class="" href=" ">Overview</a>
                                 <ul class="side-nav-group has-children">
                                    <li class="side-nav-item  is-locked">
                                       <a class="is-locked" href="">
                                       <span matBadgeColor="warn" matBadge="60" matBadgeOverlap="false"> Pre-Primary </span></a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">
                                       <span matBadgeColor="warn" matBadge="30" matBadgeOverlap="false">Primary I</span></a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">
                                       <span matBadgeColor="warn" matBadge="40" matBadgeOverlap="false">Primary II</span></a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">
                                       <span matBadgeColor="warn" matBadge="20" matBadgeOverlap="false">Secondary</span></a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="right-event-content">
                     <div class="clearfix block-slacker">
                        <div class="quick-stats">
                           <div class="block-slacker">
                              <div class="clearfix ">
                                 <span class="rankings-category is_ranked" title="Overall Score: 100 out of 100">
                                 <a class="t-strong" href=" "></a>
                                 </span>
                              </div>
                           </div>
                           <div class="clearfix">
                              <div class="map">
                                 <img src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9100284382976!2d73.01690731435016!3d26.232112795372963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418b8d1b564545%3A0x38f74af47994e76d!2sST.+ANNE&#39;S+SCHOOL+Jodhpur!5e0!3m2!1sen!2sin!4v1552738707704"/>
                              </div>
                              <h3 class="h h-slacker">2019 Quick Stats</h3>
                              <div class="icon-quick-stats icon-location">
                                 <div>
                                    <h4 class="t-flush">Address</h4>
                                    <p class="t-slack t-tight">
                                       No-5,6,8 <br /> 
                                       Heggondahalli Village <br />
                                       Whitefield Sarjapur <br /> Main Road <br />
                                       Gunjur Post <br />
                                       Bangalore-560087
                                    </p>
                                 </div>
                              </div>
                              <div class="icon-quick-stats icon-person block-slack">
                                 <div>
                                    <h4 class="t-flush">Students</h4>
                                    <p class="t-flush t-tight">
                                       <span>672</span> <span class="t-small t-subdued"> studying</span>
                                    </p>
                                 </div>
                              </div>
                              <div class="icon-quick-stats icon-dollar block-slack">
                                 <div>
                                    <h4 class="t-flush">Admission Fee</h4>
                                    <p class="t-flush t-tight">
                                       <span>Rs 160,333</span> <span class="t-small t-subdued"> total</span>
                                    </p>
                                 </div>
                              </div>
                              <span class="t-subdued">&#8226;</span>
                              <a target="_blank" class="t-strong" id="moreinfo_link" href="http://www.hbs.edu">More Information</a>
                           </div>
                        </div>
                        <div class="datadict is-overview">
                           <div id="directoryPageSection-free_overview" class="data-item">
                              <h1 class="free_overview even">School Overview</h1>
                              <a name="mlib"></a>
                              <p style="font-size: 16px">
                                 The Business School at Harvard University offers these departments and concentrations: 
                                 accounting, consulting, e-commerce, economics, entrepreneurship, ethics, finance, general management, 
                                 health care administration, human resources management, international business, leadership, 
                                 manufacturing and technology management, marketing, not-for-profit management, 
                                 production/operations management, organizational behavior, portfolio management, 
                                 public administration, public policy, real estate, sports business, supply chain management/logistics, 
                                 quantitative analysis/statistics and operations research, tax, and technology. 
                                 Its tuition is full-time: $61,225 per year. At graduation, 81.0 percent of graduates of the 
                                 full-time program are employed.
                              </p>
                              <a name="blurb"></a>
                              <p style="font-size: 16px">
                                 Graduate students at Harvard Business School get a hands-on education through the case method, 
                                 which poses true-to-life problems students must tackle in teams. 
                                 The experiential learning extends to field study teams, 
                                 in which small groups of students evaluate existing organizations, and immersion trips, 
                                 intense weeks of study in another country over winter breaks.
                              </p>
                           </div>
                           <mat-divider></mat-divider>
                           <div class="data-item">
                              <h3 class="free_admissions odd">Admission Assessment Seats</h3>
                              <table class="fields free_admissions">
                                 <tbody>
                                    <tr class="v_application_deadline row-first row-odd">
                                       <td class="column-first">
                                          Application circulation 
                                          <sup></sup>
                                       </td>
                                       <td class="column-last">
                                          <span>
                                          In-process
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_application_deadline row-first row-odd">
                                       <td class="column-first">
                                          Application deadline 
                                          <sup></sup>
                                       </td>
                                       <td class="column-last">
                                          <span>
                                          April 4th
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_ft_applicants row-odd">
                                       <td class="column-first">
                                          Total Seats Remaining
                                       </td>
                                       <td class="column-last" >
                                          <span>
                                          100
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_ft_applicants row-odd">
                                       <td class="column-first">
                                          Students Applied
                                       </td>
                                       <td class="column-last" >
                                          <span>
                                          80
                                          </span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div style="width: 400px; height: 400px;" id="pie_chart" [chartData]="pie_ChartData" [chartOptions] = "pie_ChartOptions" chartType="BarChart" GoogleChart>
                           </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div id="directoryPageSection-free_students" class="data-item">
                           <h3 class="free_students odd">Student Body</h3>
                           <table class="fields free_students">
                              <tbody>
                                 <tr class="mlb_ft_enrolled_dir_pg row-first row-odd">
                                    <td class="column-first">
                                       Enrollment (full-time)
                                    </td>
                                    <td class="column-last" data-test-id="mlb_ft_enrolled_dir_pg">
                                       <span>
                                       1,872
                                       </span>     
                                    </td>
                                 </tr>
                                 <tr class="complex-value g_pct_ft_gender_enrolled row-last row-even">
                                    <td class="column-first" colspan="2">
                                       Gender distribution (full-time)
                                       <span class="footnote">
                                       <a style="cursor: help" href="">
                                       </a>
                                       </span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <mat-divider></mat-divider>
                        <div id="directoryPageSection-free_cost" class="data-item">
                           <h3 class="free_cost even">Cost</h3>
                           <table class="fields free_cost">
                              <tbody>
                                 <tr class="complex-value complete_tuition row-first row-odd">
                                    <td class="column-first" colspan="2">
                                       Tuition
                                       <span class="footnote">
                                       <a style="cursor: help" href="">
                                       <sup></sup>
                                       </a>
                                       </span>
                                    </td>
                                 </tr>
                                 <tr class="extra-row complete_tuition-extra-row">
                                    <td colspan="2">
                                       <p>full-time: Rs 80,333 (including one time Registration fee)</p>
                                       <p>full-time: Rs 40,333 (excluding one time Registration fee)</p>
                                    </td>
                                 </tr>
                                 <tr class="v_student_fees row-even">
                                    <td class="column-first">
                                       Registration fee
                                       <sup></sup>
                                    </td>
                                    <td class="column-last" data-test-id="v_student_fees">
                                       <span>
                                       Rs 40,000 one time
                                       </span>
                                    </td>
                                 </tr>
                                 <tr class="v_pt_student_fees row-odd">
                                    <td class="column-first">
                                       Tuition fee
                                       <sup></sup>
                                    </td>
                                    <td class="column-last" data-test-id="v_pt_student_fees">
                                       <span>
                                       Rs 25,333 per term
                                       </span>
                                    </td>
                                 </tr>
                                 <tr class="v_exe_student_fees row-last row-even">
                                    <td class="column-first">
                                       Annual fee 
                                       <sup></sup>
                                    </td>
                                    <td class="column-last" data-test-id="v_exe_student_fees">
                                       <span>
                                       Rs 15,000 per year
                                       </span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.right-event-content -->
            </div>
            <!-- /.event-container -->
         </div>
      </div>
      <!-- /.row -->
   </div>
   <!-- /.col-md-8 -->
   <!-- Here begin Sidebar -->
</div>
<!-- /.row -->
</div> <!-- /.container -->