<!--================Banner Area =================-->
<section class="breadcrumb_area">
  <div class="overlay" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
  <div class="container">
    <h2 class="text-center color-orange">SCHOOL RANKINGS</h2>
    <div class="single_sidebar_widget search_widget">

      <!-- Full text search -->
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="input-group mb-3">
              <input formControlName="term" type="text" class="form-control" placeholder="Search Schools | Cities | States">
              <div class="input-group-btn">
                <button class="btn btn-success" [disabled]="!searchForm.valid" type="submit"><i class="lnr lnr-magnifier"></i></button>
              </div>
            </div>
      </form>
    
    </div>
  </div>
</section>
