<!--================Banner Area =================-->
<section class="breadcrumb_area">
    <div class="overlay" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
<div class="container">

<h2 style="color:#ff7400; text-align: center">SCHOOL RANKINGS</h2>


<div class="single_sidebar_widget search_widget">
    <div class="input-group">
        <input #nameInput matInput type="text" class="form-control" placeholder="Search Schools..." [formControl]="stateCtrl" [matAutocomplete]="auto" >
         <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
        <span>{{state.name}}</span> |
        <small>{{state.city}}</small> |
        <small>{{state.state}}</small>
      </mat-option>
    </mat-autocomplete>


        <span class="input-group-btn" >
            <button (click)=" getNameValue();" class="btn btn-default" type="button">
                <i class="lnr lnr-magnifier">

                </i>
            </button>
        </span>
    </div><!-- /input-group -->
</div>


</div>   
</section>