<section class="breadcrumb_area blog_banner_two">
   <div class="overlay bg-parallax" [style.background-image]="assetsUrl" data-stellar-ratio="0.8"
      data-stellar-vertical-offset="0" data-background=""></div>
   <div class="container">
      <div class="page-cover text-center">
         <h2 class="page-cover-tittle f_48"> {{school?.school_name}}</h2>
         <ol class="breadcrumb">
            <li>{{school?.school_areacity}}</li>
            <li>{{school?.school_city}}</li>
            <li class="active">{{school?.school_state}}</li>
         </ol>
      </div>
   </div>
</section>