<app-navigation-menu></app-navigation-menu>

<app-school-banner-title></app-school-banner-title>

<div class="container">
   <div class="row">
      <!-- Here begin Main Content -->
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-12">
               <div class="event-container clearfix">

                  <app-school-tabs-nav></app-school-tabs-nav>

                  <div class="right-event-content">

                     <div class="clearfix block-slacker">

                        <app-quick-stats></app-quick-stats>

                        <div class="datadict is-overview">
                           <mat-divider></mat-divider>

                           <div class="data-item">
                              <h3 class="free_admissions odd">Admission Assessment Seats</h3>
                              <table class="fields free_admissions">
                                 <tbody>
                                    <tr class="v_application_deadline row-first row-odd">
                                       <td class="column-first">
                                          Application circulation
                                          <sup></sup>
                                       </td>
                                       <td class="column-last">
                                          <span>
                                             {{school?.school_application_status}}
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_application_deadline row-first row-odd">
                                       <td class="column-first">
                                          Application deadline
                                          <sup></sup>
                                       </td>
                                       <td class="column-last">
                                          <span>
                                             {{school?.school_application_deadline}}
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_ft_applicants row-odd">
                                       <td class="column-first">
                                          Total Seats Across
                                       </td>
                                       <td class="column-last">
                                          <span>
                                             {{prePrimaryAsync?.pre_primary_school_seats_count}}
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_ft_applicants row-odd">
                                       <td class="column-first">
                                          Seats Remaining
                                       </td>
                                       <td class="column-last">
                                          <span>
                                             {{prePrimaryAsync?.pre_primary_school_seats_remaining_count}}
                                          </span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div style="width: 400px; height: 400px;" id="bar_chart" [chartData]="bar_ChartData"
                                 [chartOptions]="bar_ChartOptions" chartType="BarChart" GoogleChart>
                              </div>
                           </div>

                           <mat-divider></mat-divider>

                           <div id="directoryPageSection-free_students" class="data-item">
                              <h3 class="free_students odd">Student Body</h3>
                              <table class="fields free_students">
                                 <tbody>
                                    <tr class="mlb_ft_enrolled_dir_pg row-first row-odd">
                                       <td class="column-first">
                                          Enrollment (full-time)
                                       </td>
                                       <td class="column-last" data-test-id="mlb_ft_enrolled_dir_pg">
                                          <span>
                                             {{school?.school_total_students_count}}
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_pct_ft_gender_enrolled row-last row-even">
                                       <td class="column-first" colspan="2">
                                          Gender distribution
                                          <span class="footnote">
                                             <a style="cursor: help">
                                                   <div style="width: 400px; height: 400px;" id="pie_chart" [chartData]="pie_ChartData"
                                                   [chartOptions]=" pie_ChartOptions" chartType="PieChart" GoogleChart>
                                            </div>
                                             </a>
                                          </span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <mat-divider></mat-divider>
                           <div id="directoryPageSection-free_cost" class="data-item">
                              <h3 class="free_cost even">Cost</h3>
                              <table class="fields free_cost">
                                 <tbody>
                                    <tr class="complex-value complete_tuition row-first row-odd">
                                       <td class="column-first" colspan="2">
                                          Tuition
                                          <span class="footnote">
                                             <a style="cursor: help" href="">
                                                <sup></sup>
                                             </a>
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="extra-row complete_tuition-extra-row">
                                       <td colspan="2">
                                          <p>full-time: Rs 80,333 (including one time Registration fee)</p>
                                          <p>full-time: Rs 40,333 (excluding one time Registration fee)</p>
                                       </td>
                                    </tr>
                                    <tr class="v_student_fees row-even">
                                       <td class="column-first">
                                          Registration fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_student_fees">
                                          <span>
                                             Rs 40,000 one time
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_pt_student_fees row-odd">
                                       <td class="column-first">
                                          Tuition fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_pt_student_fees">
                                          <span>
                                             Rs 25,333 per term
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_exe_student_fees row-last row-even">
                                       <td class="column-first">
                                          Annual fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_exe_student_fees">
                                          <span>
                                             Rs 15,000 per year
                                          </span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.right-event-content -->
               </div>
               <!-- /.event-container -->
            </div>
         </div>
         <!-- /.row -->
      </div>
      <!-- /.col-md-8 -->
      <!-- Here begin Sidebar -->
   </div>
   <!-- /.row -->
</div> <!-- /.container -->