<div class="quick-stats">
   <div class="block-slacker">
      <div class="clearfix ">
         <span class="rankings-category is_ranked" title="Overall Score: 100 out of 100">
            <a class="t-strong" href=" "></a>
         </span>
      </div>
   </div>
   <div class="clearfix">
      <div class="map">
         <img src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9100284382976!2d73.01690731435016!3d26.232112795372963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418b8d1b564545%3A0x38f74af47994e76d!2sST.+ANNE&#39;S+SCHOOL+Jodhpur!5e0!3m2!1sen!2sin!4v1552738707704" />
       </div> 

     
      <h3 class="h h-slacker">2019 Quick Stats</h3>
      <div class="icon-quick-stats icon-location">
         <div>
            <h4 class="t-flush">Address</h4>
            <p class="t-slack t-tight">
               {{school?.school_address_1}} <br />
               {{school?.school_address_2}} <br />

               {{school?.school_city}}
            </p>
         </div>
      </div>
      <div class="icon-quick-stats icon-person block-slack">
         <div>
            <h4 class="t-flush">Students</h4>
            <p class="t-flush t-tight">
               <span>{{school?.school_total_students_count}}</span> <span class="t-small t-subdued"> studying overall</span>
            </p>
         </div>
      </div>
      <div class="icon-quick-stats icon-dollar block-slack">
         <div>
            <h4 class="t-flush">Admission Status</h4>
            <p class="t-flush t-tight">
               <span>Pre-Primary</span> <span class="t-small t-subdued"> Open</span>
            <br>
                  <span>Primary</span> <span class="t-small t-subdued"> Close</span>
                  <br>
                  <span>Middle</span> <span class="t-small t-subdued"> Close</span>
                  <br>
                  <span>Secondary</span> <span class="t-small t-subdued"> Open</span>
                  <br>
                  <span>Senior Secondary</span> <span class="t-small t-subdued"> Close</span>
                  <br>
            </p>
         </div>
       
      </div>
      <span><a href="https://rzp.io/l/G0yR7We" style="position:relative;display:block;min-height:38px;width:120px;padding:10px;margin:0 auto;line-height:18px;font-weight:600;font-size:14px;font-family:Lato, Muli, -apple-system, BlinkMacSystemFont, Arial, sans-serif;word-break:break-word;border-radius:2px;text-align:center;background-color:#003a6a;color:#fff;box-shadow:0 0 24px 0 rgba(0,0,0,0.2);z-index:2" target="_blank">Book Now</a><div style="margin-top:4px;text-align:center"></div></span>
      
      <span class="t-subdued">&#8226;</span>
      <a target="_blank" class="t-strong" id="moreinfo_link" href={{school?.school_official_url}}> More Information</a>
   </div>
</div>